.floating{
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 8px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 8px);}
    to {-moz-transform: translate(0, -0px);}    
}



body{padding: 50px 0;}
.form-group{margin-bottom: 10px;}
label{line-height: 0;}
.navbar{background: rgba(255,255,255,.95); box-shadow: 0px 2px 4px rgba(0,0,0,0.2);}
.headerwrap,.maincontent{margin-top: 53px;}
.headerwrap{
	background: #e74c3c;
	height: 100%;
	width: 100%;
	padding: 50px 0;
}
.maincontent{margin: 100px auto;}
.progressbars{padding: 50px 0 20px;}
.content-block{
	margin-bottom: 60px;
}
.starimage{margin-right:20px; margin-bottom:20px;}
.starimage img{width: 100%;}
.starabout{color:#fff; font-size:15px; font-weight:100; margin-top:-5px; text-align:justify; }
.starabout p{line-height:1.4em;}
.comments-block{margin: 10px 0 20px; font-weight: 100;}
.comments-block h6{font-size: 20px; margin: 0 0 5px;}
.comments-block p{font-size: 15px; line-height: 1.5em;}

.weddingdetails{padding: 20px; border: 4px double #e74c3c; font-weight: 100;text-align: center;}
.weddingdetails p{font-size: 15px; }
.weddingdetails h6{font-size: 18px; margin-bottom: 5px;}
.separator{width:10px; height: 10px; border-radius: 50%; background:#e74c3c; display: block; position: relative; margin: 0 auto; margin-bottom: 40px; margin-top: -10px;}

h5.block-title {font-size: 20px; border-bottom: 2px solid; margin-bottom: 20px; padding-bottom: 10px;}
.invld-people{margin-bottom: 20px;}
.perimg{margin-right: 10px;}
.perimg img{max-width: 50px; width: 100%;}
.pername h6{font-weight: 200; font-size: 15px; margin: 5px 0;}
.pername h6:nth-child(2){font-size: 12px;}

.sidebar{height: 900px;margin-bottom: 60px;}
.vertical-slider{width: 10%; height: 100%;}
.giftboxes{width: 70%; position: relative;font-weight: 200; position: relative; top: -20px; height: 1010px;}
.giftbox{text-align: left; padding: 10px; background: #ECF0F1; position: relative; position: relative; bottom: 0;}
.giftbox:last-child{top:560px;}
.giftbox img{width: 100%;max-width: 60px; width: 100%;margin-right: 15px;}
.giftbox .giftimg{max-width: 30%;}
.giftbox .gifttitle{max-width: 70%; max-height: 80px;overflow: hidden; overflow-y: scroll ;}
.giftbox .gifttitle p{line-height: 1.4em; margin-bottom: 0; font-size: 14px;}
.giftbox .gifttitle h6{margin: 0px 0 10px; font-size: 15px;}


.pointer{width: 18%; position:relative;}
.pointer .info-text{position: inherit;width: 80%;}
.pin{
	border-top: 10px solid transparent;
	display: block;
	width: 0px;
	height: 0px;
	border-left: 20px solid #34495e;
	border-bottom: 10px solid transparent;
	position: inherit;
	top: 0px;
}
.sidebar .progress{width: 40px; float: left; height: 1010px; background: #BDC3C7; border-radius: 0;position: absolute;left:20%; border-radius: 0px 15px 0px 0px;}
.sidebar .progress-bar{float: none; background: #34495e; border-radius:0px;position: absolute;bottom:0px; width: 40px !important; height: 10px; border-radius: 0px 15px 0px 0px; height:25%;}
.start-val{position: absolute; bottom: 0; color: #fff; font-weight: 100; font-size: 13px; width: 40px; text-align: center;}
.content textarea{min-height: 120px; width: 100%; resize: vertical;}
.gift-options{
	margin-bottom: 50px;
}
.tab-content{margin: 20px 0 40px;}
.dropdown-menu{width: 100%;}




.pin-blue{border-left: 20px solid #3498DB;}
.pin-green{border-left: 20px solid #27AE60;}
.pin-yellow{border-left: 20px solid #f39c12;}
.pin-orange{border-left: 20px solid #e67e22;}
.pin-red{border-left: 20px solid #E74C3C;}

.sidebar .prog-blue{background:#3498DB;}
.sidebar .prog-green{background:#27AE60;}
.sidebar .prog-yellow{background:#f39c12;}
.sidebar .prog-orange{background:#e67e22;}
.sidebar .prog-red{background:#E74C3C;}

.text-blue{color:#3498DB;}
.text-green{color:#27AE60;}
.text-yellow{color:#f39c12;}
.text-orange{color:#e67e22;}
.text-red{color:#E74C3C;}